body{
  font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding-top: 30px;
}

.contenedor-principal{
  /*background-color: violet; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
